html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: playFont;
    src: url(../fonts/Play/Play-Regular.ttf);
}
@font-face {
    font-family: playBold;
    src: url(../fonts/Play/Play-Bold.ttf);
}

body{
    padding: 0; margin: 0; font-family: playFont;
}

header{position: fixed; top: 0; left: 0;}

.content{width: 50%; margin: 10px auto; position: relative; padding-top: 30%;
    .form-control{margin: 15px;}
}