html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: playFont;
    src: url(../fonts/Play/Play-Regular.ttf);
}
@font-face {
    font-family: playBold;
    src: url(../fonts/Play/Play-Bold.ttf);
}

body{
    padding: 0; margin: 0; font-family: playFont;
}

.header{}

.content{}

.footer{}